* {
  /*border: 1px solid black;*/
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: grey;
}

.calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 35vw;
  border: 5px solid black;
  border-radius: 20px;
  background-color: black;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  height: 30%;
  margin: 5%;
  border: 2px solid white;
  border-radius: 10px;
  background-color: lightgrey;
}

.inputBtns {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 70%;
  width: 90%;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 5%;
}

.btnRow {
  display: flex;
  flex: 1;
}

.numbBtn,
.opBtn,
.clearBtn,
.dltBtn {
  display: flex;
  flex: 1;
  margin: 2%;
  justify-content: center;
  align-items: center;
  border: 2px solid purple;
  background-color: purple;
  border-radius: 10px;
}