* {
  border: 1px solid black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 60vw;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.cdBtns {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.clearBtn, 
.dltBtn {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
}

