* {
  border: 1px solid black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 50vw;
}

.display {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 5%;
}

.cdBtns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 20%;
}

.clearBtn, 
.dltBtn {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
}

.inputBtns {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 50%;
  width: 80%;
}

.btnRow {
  display: flex;
  flex: 1;
}

.numbBtn,
.opBtn {
  display: flex;
  flex: 1;
  margin: 2%;
  justify-content: center;
  align-items: center;
}